.ca-c-card {
    border: none;
    overflow: hidden;
    border-radius: 5px;
    background-color: white;

    &__header {
        h1 {
            margin-bottom: -3px;
        }

        padding: 15px;
        background-color: rgb(233, 129, 50);
        display: block;
        margin-right: auto;

        &[color="blue"] {
            background-color: #32e9da;
        }
    }

    &__content {
        display: block;
        padding: 15px;
        overflow: hidden;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: white;
    }

    &__title-text {
        font-size: 20px !important;
        font-weight: 800 !important;
    }
}