<div class="user-details">
    <mat-list>
        <mat-list-item class="u-text-align-center">
            <span class="mat-headline-medium">Detalhes do Usuário</span>
        </mat-list-item>
        <mat-divider />
        <mat-list-item>
            <span class="mat-title-medium" bold-weight>Nome: </span><span class="mat-title-small">Fulano da Silva</span>
        </mat-list-item>
        <mat-divider />
        <mat-list-item>
            <span class="mat-title-medium" bold-weight>Email: </span><span class="mat-title-small">emailads</span>
        </mat-list-item>
        <mat-divider />
        <mat-list-item>
            <span class="mat-title-medium" bold-weight>Telefone: </span><span class="mat-title-small">119239129239</span>
        </mat-list-item>
        <mat-divider />
        <mat-list-item>
            <span class="mat-title-medium" bold-weight>Endereco: </span><span class="mat-title-small">Rua, 42, São Paulo - SP</span>
        </mat-list-item>
        <mat-divider />
        <mat-list-item>
            <span class="mat-title-medium" bold-weight>Ativo: </span><span class="mat-title-small">Sim</span>
        </mat-list-item>
        <mat-divider />
        <mat-list-item>
            <span class="mat-title-medium" bold-weight>Função: </span><span class="mat-title-small">Dev</span>
        </mat-list-item>
        <mat-divider />
        <mat-list-item>
            <span class="mat-title-medium" bold-weight>Data de Cadastro: </span><span class="mat-title-small">27/22/2022</span>
        </mat-list-item>
        <mat-divider />
    </mat-list>
</div>