@import "variables";
.card-cancel-button {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    border-radius: 25px;
    background-color: $var1;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
}

// Perceba que o ng-deep é em um escopo global - filho para pai
::ng-deep .card-roxo {
    background-color: yellow !important;
}