@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.card {
    max-width: 350px;
    background-color: #fd7557;
    border-radius: 25px;
    padding: 30px;

    &__item {
        padding: 10px;
    }

    &__plan {
        font-size: 22px;
    }

    &__price {
        font-weight: 600;
        font-size: 40px;
    }

    &__button {
        font-size: 16px;
        text-align: center;
        margin-top: 10px;
        border-radius: 25px;
        background-color: yellow;
        cursor: pointer;
        font-weight: bold;
    }
}

// "Evite usar ::ng-deep, está deprecated'
// ::ng-deep .classe-pai .classe-filha, os que tiverem com essas classes, em toda a aplicação (::ng-deep), os estilos serão aplicados
:host::ng-deep app-card-button-cancel .card-cancel-button  {
    background-color: blue !important;
}

// O mat-slider funciona como componente filho, portanto, precisamos usar o ng-deep
:host::ng-deep mat-slider .mdc-slider__track--active_fill {
    border-color: red;
}


.card-cancel-button {
    color: forestgreen; 
}