<!-- <label for="cars">Selecione um carro: </label>
<select name="cars" id="cars" ngModel #meuSelectFormControl="ngModel" required>
  <option value="" selected></option>
  <option value="volvo">Volvo</option>
  <option value="volvo">Saab</option>
  <option value="volvo">Fiat</option>
  <option value="volvo">Audi</option>
</select> -->

<!-- <label for="nationalities">Selecione uma nacionalidade: </label>
<select
  name="nationalities"
  id="nationalities"
  ngModel
  #meuSelectFormControl="ngModel"
  required
>
  <option value="" selected></option>
  @for(nationality of nationalities; track $index; let i = $index) {
  <option [value]="nationality.id">{{ nationality.description }}</option>
  }
</select> -->

<!-- <label for="nationalities">Selecione uma nacionalidade: </label>
<select
  name="nationalities"
  id="nationalities"
  [(ngModel)]="nationalitySelected"
  #meuSelectFormControl="ngModel"
  required
>
  <option value=""></option>
  @for(nationality of nationalities; track $index; let i = $index ) {
  <option [value]="nationality.id">{{ nationality.description }}</option>
  }
</select>
<p>Nacionalidade Selecionada: {{ nationalitySelected }}</p> -->

<label for="nationalities">Selecione uma nacionalidade: </label>
<select
  name="nationalities"
  id="nationalities"
  [ngModel]="nationalitySelected"
  (ngModelChange)="onChange($event)"
  #meuSelectFormControl="ngModel"
  required
>
  <option value=""></option>
  @for(nationality of nationalities; track $index; let i = $index ) {
  <option [value]="nationality.id">{{ nationality.description }}</option>
  }
</select>
<p>Nacionalidade Selecionada: {{ nationalitySelected }}</p>

<h2>Estado do select:</h2>
<p>Válido: {{ meuSelectFormControl.valid }}</p>
<p>Tocado: {{ meuSelectFormControl.touched }}</p>
<p>Sujo: {{ meuSelectFormControl.dirty }}</p>
