body {
    font-family: 'Poppins', sans-serif !important;
    background-color: darkgrey;
}

h1,
h2,
h3,
p {
    font-family: 'Poppins', sans-serif !important;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}