body {
    font-family: 'Poppins', sans-serif !important;
    background-color: darkgrey;
}

h1,
h2,
h3,
p {
    font-family: 'Poppins', sans-serif !important;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Curso Angular - componente
.ca-c-card {
    max-width: 400px;

    &__header {
        padding: 50px;
        height: 40%;
        background-color: #ffad36;
        display: block;
    }

    &__content {
        padding: 50px;
        height: 60%;
        background-color: #ff5916;
        display: block;
    }
}