<div class="container">
    <div class="item">
        <app-card>
            <div class="card__header" card-header>
                <img src="icons/user.png" class="card__image">
            </div>
            <div class="card__content" card-content>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
            </div>
        </app-card>
        <app-card>
            <div class="card__header" card-header>
                <h1>Guiler Serafim</h1>
                <img src="icons/user.png" class="card__image">
                <h3>Dev Fullstack</h3>
            </div>
            <div class="card__content" card-content>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
            </div>
        </app-card>

        <p appCardTextTitle color="red">Texto com camel case</p>
        <!-- Mais incomum -->
        <app-card-text-title>Texto com seletor</app-card-text-title>
    </div>
    <div class="item"></div>
</div>