.container {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    margin-top: 200px;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.container mat-form-field {
    margin-top: 50px;
}