<!-- Pra cada grupo de radion button que você tiver, você vai ter uma propriedade no seu componente -->

<input type="radio" id="html" name="group1" value="html" [ngModel]="radioSelection" (ngModelChange)="onChange($event)" required />
<label for="html">HTML</label>

<input type="radio" id="css" name="group1" value="css" [ngModel]="radioSelection" (ngModelChange)="onChange($event)" required  />
<label for="css">CSS</label>

<input type="radio" id="javascript" name="group1" value="javascript" javascript [ngModel]="radioSelection" (ngModelChange)="onChange($event)" required  />
<label for="javascript">Javascript</label>

<p>Radio selecionado: {{radioSelection}}</p>
<p>Status: {{radioSelection === "" ? "Inválido" : "Válido"}}</p>

<!-- Caso utilize o radios buttons fora de uma tag de formulario, isso é o recomendável a se fazer -->
<button [disabled]="radioSelection === null ||  radioSelection === undefined || radioSelection === ''">Enviar</button>