<form #form="ngForm" [ngFormOptions]="{ updateOn: 'blur' }">
  <input
    type="text"
    name="nome"
    ngModel
    #nomeInputControl="ngModel"
    placeholder="Digite o nome"
    appUserNameValidator
  />
  @if (nomeInputControl.dirty) { @if (nomeInputControl.pending) {
  <p [style.color]="'orange'">Verificando...</p>
  } @if(!nomeInputControl.pending && nomeInputControl.valid &&
  !nomeInputControl.hasError('invalidUserName')){
  <p [style.color]="'green'">Usuário existente</p>
  } @if(!nomeInputControl.pending && nomeInputControl.invalid &&
  nomeInputControl.hasError('invalidUserName')) {
  <p [style.color]="'red'">Usuário inexistente</p>
  } }
  <p>Válido: {{ nomeInputControl.valid }}</p>
  <p>Touched: {{ nomeInputControl.touched }}</p>
  <p>Sujo: {{ nomeInputControl.dirty }}</p>
  <p>Pendente: {{ nomeInputControl.pending }}</p>
</form>
